/* @import url('https://fonts.googleapis.com/css?family=Poppins|Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

html,
body {
  width: 99%;
  height: 99%;
  padding: 0%;
  padding-left: 1%;
}

/*Carrousel--------------------------------------------------------------------------------------------------------------------------------------*/
.etiqueta_carrousel {
  
  opacity: 0.9;
  background-color: rgba(0, 0, 0, 0.75);
  height: 50%;
  width: 75%;
  border-radius: 30px 30px 0% 0%;
  position: absolute;
  left: 50%;
  right: 50%;
  top: 85%;
  z-index: 3;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
.etiqueta_carrousel h1 {
  font-family: 'Inter', sans-serif;
  color: white;
  font-size: 3em;
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-bottom: 2px;
}
.etiqueta_carrousel h3 {
  font-family: 'Inter', sans-serif;
  color: white;
  margin-bottom: 2px;
}

/********************************/
/*       response       */
/********************************/

@media screen and (max-width: 1340px){
  .etiqueta_carrousel h1 {  
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 2.2em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    margin-bottom: 2px;}  
  .etiqueta_carrousel h3 { 
    font-size: 1.3em;
    font-family: 'Inter', sans-serif;
    color: white;
    margin-bottom: 2px;
  }     
  .etiqueta_carrousel { 
  opacity: 0.9;
  background-color: rgba(0, 0, 0, 0.75);
  height: 50%;
  width: 75%;
  border-radius: 30px 30px 0% 0%;
  position: absolute;
  left: 50%;
  right: 50%;
  top: 85%;
          
  }  
  /* .Timag{
      height: 13.8em;
      background-color: white;
  
  } */
}

@media screen and (max-width: 940px){
    .etiqueta_carrousel h1 {  
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 1.7em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    margin-bottom: 2px;}  
  .etiqueta_carrousel h3 { 
    font-size: 0.9em;
    font-family: 'Inter', sans-serif;
    color: white;
    margin-bottom: 2px;
  }     
  .etiqueta_carrousel { 
  opacity: 0.9;
  background-color: rgba(0, 0, 0, 0.75);
  height: 50%;
  width: 95%;
  border-radius: 30px 30px 0% 0%;
  position: absolute;
  left: 50%;
  right: 50%;
  top: 75%;
          
  }  
}
@media screen and (max-width: 640px){
/* @media screen and (max-width: 575px){ */

    .etiqueta_carrousel h1 {
      font-family: 'Inter', sans-serif;
      margin-top: 5px;
      font-size: 1.0em; }  
    .etiqueta_carrousel h3 { 
      font-family: 'Inter', sans-serif;
      margin-top: 5px;
      font-size: 0.7em; 
    }     
    .etiqueta_carrousel { 
            height: 50%; 
            left: 50%;
            right: 0%;
            top: 48%;
            bottom: 50%;
            border-radius: 30px 30px 30px 30px;
            
    }  
    .Timag{
        height: 13.8em;
        background-color: white;
    
    }
}



/*---------------------------------------------------------------------------------------------------------------------Carrousel*/
/*Comunidad-------------------------------------------------------------------------------------------------------------------*/

/* .comunidad {
    margin: 0;
    padding: 0;
    overflow-y: hidden !important;
  }
  .comunidad p {
    padding-bottom: 2em;
    padding-top: 1em;}

@media screen and (min-width: 980px) {
  .etiqueta_carrousel {
    width: 50%;

  }
}
@media screen and (max-width: 640px) {
  /* .hero { width: 90%; }  */
  /* .etiqueta_carrousel h1 {
    font-size: 1.3em;
  }
  .etiqueta_carrousel h3 {
    font-size: 0.5em;
  }
  .etiqueta_carrousel {
    height: 50%;
    left: 50%;
    right: 0%;
    top: 50%;
    bottom: 50%;
  }
  .tamano_carousel { 
  } */
/* } } al que se olvido poner ese corchete le espera tabla */
/*---------------------------------------------------------------------------------------------------------------------Carrousel*/
/*Comunidad-------------------------------------------------------------------------------------------------------------------*/

.comunidad {
  margin: 0;
  padding: 0;
  overflow-y: hidden !important;
}

.sectionComunidad h2{
  
  font-family: 'Inter', sans-serif;

  color: black;
  font-size: 3em;


}

.sectionComunidad p{
  
  color: black;
  font-size: 1.7em;
}
/* .comunidad h2 {
  padding-bottom: 2em;
  padding-top: 1em;
} */
.comunidad p {
  font-family: 'Inter', sans-serif;
  padding-bottom: 2em;
  padding-top: 1em;
}
.comunidad ul {
  margin-left: auto;
  margin-right: auto;
}
.comunidad ul li {
  list-style: none;
  display: inline-block;
  /* margin: 0 auto; */
}
.comunidad ul li a {
  display: block;
  position: relative;
  width: 110px;
  height: 110px;
  right: 0px;
  line-height: 110px;
  font-size: 90px;
  color: #262626;
  transition: 0.5s;
  margin: 0 50px;
}

.comunidad ul li a .giro {
  position: absolute;
  transition: transform 0.5s;
}
.comunidad ul li a .giro:nth-child(1),
.comunidad ul li a .giro:nth-child(3) {
  width: 100%;
  height: 1px;
  background: #262626;
}
.comunidad ul li a .giro:nth-child(1) {
  top: 0;
  left: 0;
  transform-origin: right;
}
.comunidad ul li a:hover .giro:nth-child(1) {
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}
.comunidad ul li a .giro:nth-child(3) {
  bottom: 0;
  left: 0;
  transform-origin: left;
}
.comunidad ul li a:hover .giro:nth-child(3) {
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

/********************************/
/*       response       */
/********************************/

@media screen and (min-width: 980px){ 
  /* .etiqueta_carrousel { width: 50%; }     */
}
@media screen and (max-width: 640px){
  .sectionComunidad h2{  font-size: 1.5em;}
  
  .sectionComunidad p{ font-size: 1em;
  margin: 0px;}
  .comunidad ul li a {
    width: 70px;
    height: 70px;
    right: 0px;
    line-height: 70px;
    font-size: 60px;
    margin: 0 0.3em;
  }
}



/*-----------------------------------------------------------------------------------------------------------------Comunidad*/

/*Cooperacion------------------*/

.cooperar {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
}

.sectionCooperar h2{
  font-family: 'Inter', sans-serif;
  color: black;
  font-size: 3em;
}

.sectionCooperar p{
  color: black;
  font-size: 1.7em;
}
/* .comunidad h2 {
  padding-bottom: 2em;
  padding-top: 1em;
} */
.cooperar p {
  font-family: 'Inter', sans-serif;
  padding-bottom: 2em;
  padding-top: 1em;
}
.cooepra_especial{
  width: 700px;
  padding-bottom: 2em;
  padding-top: 1em;
}
.cooperar ul {
  margin-left: auto;
  margin-right: auto;
}
.cooperar ul li {
  list-style: none;
  display: inline-block;
  /* margin: 0 auto; */
}
.cooperar ul li a {
  display: block;
  position: absolute;
  width: 110px;
  height: 110px;
  right: 0px;
  line-height: 110px;
  font-size: 90px;
  color: #262626;
  transition: 0.5s;
  margin-top: 7%;
}

.cooperar ul li a .giro {
  position: absolute;
  transition: transform 0.5s;
}
.cooperar ul li a .giro:nth-child(1),
.cooperar ul li a .giro:nth-child(3) {
  width: 100%;
  height: 1px;
  background: #262626;
}
.cooperar ul li a .giro:nth-child(1) {
  top: 0;
  left: 0;
  transform-origin: right;
}
.cooperar ul li a:hover .giro:nth-child(1) {
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}
.cooperar ul li a .giro:nth-child(3) {
  bottom: 0;
  left: 0;
  transform-origin: left;
}
.cooperar ul li a:hover .giro:nth-child(3) {
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

@media screen and (min-width: 980px){ 
  /* .etiqueta_carrousel { width: 50%; }     */
}
@media screen and (max-width: 640px){
  .sectionCooperar h2{  font-size: 1.5em;}
  
  .sectionCooperar p{ font-size: 1em;
  margin: 0px;}

  .cooepra_especial{
    width: 100%;
    padding-bottom: 2em;
    padding-top: 1em;
  }
  .cooperar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 20%;
  }

  .cooperar ul li a {
    width: 100%;
    height: 100%;
    right: 0px;
    line-height: 70px;
    font-size: 90px;
    /* margin: 0 0.3em; */
  }
  body,html{
    padding-left: 1%;
  }
}
/*-------------------------Cooperacion*/


/* Footer ------------------*/
footer {
  width: 100%;
  min-height: 25%;
  background-color: #242424;
  /* padding: 12rem; */
  margin-top: 2%;
  text-align: left;
}

a footer {
  text-decoration: none;
}

footer h5 {
  color: rgba(255, 255, 255, 1);
}

footer .ulSocial {
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  display: flex;
}

/* ------------------ Footer */

/* .bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
} */

#caberecaNoticias {
  background-image: url("https://images5.alphacoders.com/410/410498.jpg");
  min-height: 35%;
}

#caberecaNoticias header {
  background-color: blueviolet;
  height: 100%;
}

#caberecaNoticias header h2 {
  margin-top: 15px;
}

.alineadoIzquierda {
  text-align: right;
}

/* Section Noticas -------------------------------------------------------------- */


.noticiasDiv {
  padding-top: 2%;
  padding-bottom: 2%;
}

.noticiasDiv h1 {
  font-family: 'Inter', sans-serif;
  text-align: center;
  margin-bottom: 2%;
}

.noticiasDiv a {
  margin-bottom: 2%;
}
/* Section Noticas */

/* Section Proyectos -------------------------------------------------------------- */


.proyectoDiv {
  padding-top: 2%;
  padding-bottom: 2%;
}

.proyectoDiv h1 {
  
  font-family: 'Inter', sans-serif;
  text-align: center;
  margin-bottom: 2%;
}

.proyectoDiv a {
  margin-bottom: 2%;
}
/* Section Proyectos */




/* ESTILOS */
h1{
  font-family: 'Inter', sans-serif;
  /* font-family: 'Poppins', sans-serif; */
}
h2,h3{
  font-family: 'Inter', sans-serif;
  /* font-family: 'Poppins', sans-serif; */
}
p{
  font-family: 'Inter', sans-serif;
  /* font-family: 'Quicksand', sans-serif; */
  color: black;
  /* font-style: italic; pone las letras en cursiva*/
  font-weight: bold;
}
p.nombres{
  font-family: 'Inter', sans-serif;
  color: white;
  /* font-style: italic; */
  font-weight: bold;
  margin-bottom: 0px;
}

.nombres-descripcion {
  font-family: 'Inter', sans-serif;
  color: white;
  font-size: small;

}

.separecion{
  letter-spacing: 2pt;      /* para separar entgre letras */
  word-spacing: 5pt;        /* para separacion entre palabras */  
  line-height: 20pt;        /* para la separacion entre lineas */ 
  text-indent: 30pt;        /* para sangrias */ 
}
@media screen and (max-width: 640px){
  p.nombres{
    font-family: 'Inter', sans-serif;
    color: white;
     word-wrap: break-word;
     /* font-style: italic; */
     font-weight: bold;
     font-size: x-large;
  }
  .alinearparaabajo{
    padding-top: 15%;
  }
}

