@import url('https://fonts.googleapis.com/css?family=Poppins|Quicksand&display=swap');

html,
body {
  width: 100%;
  height: 100%;
}

/*Carrousel--------------------------------------------------------------------------------------------------------------------------------------*/
.etiqueta_carrousel {
  position: absolute;
  left: 50%;
  right: 50%;
  top: 75%;
  z-index: 3;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
.etiqueta_carrousel h1 {
  font-size: 6em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

/********************************/
/*       response       */
/********************************/

@media screen and (min-width: 980px){
    .etiqueta_carrousel { width: 50%; }    
}
@media screen and (max-width: 640px){
    /* .hero { width: 90%; }  */   
    .etiqueta_carrousel h1 { font-size: 1.3em; }  
    .etiqueta_carrousel h3 { font-size: 0.5em; }   
    .etiqueta_carrousel { height: 50%; 
            left: 50%;
            right: 0%;
            top: 50%;
            bottom: 50%;
    }   
    .Timag{
        height: 13.8em;
        background-color: white;
    
    }
}
/*---------------------------------------------------------------------------------------------------------------------Carrousel*/
/*Comunidad-------------------------------------------------------------------------------------------------------------------*/

.comunidad {
    margin: 0;
    padding: 0;
    overflow-y: hidden !important;
  }
  .comunidad p {
    padding-bottom: 2em;
    padding-top: 1em;

@media screen and (min-width: 980px) {
  .etiqueta_carrousel {
    width: 50%;

  }
}
@media screen and (max-width: 640px) {
  /* .hero { width: 90%; }  */
  .etiqueta_carrousel h1 {
    font-size: 1.3em;
  }
  .etiqueta_carrousel h3 {
    font-size: 0.5em;
  }
  .etiqueta_carrousel {
    height: 50%;
    left: 50%;
    right: 0%;
    top: 50%;
    bottom: 50%;
  }
  .tamano_carousel {
  }
} } /*al que se olvido poner ese corchete le espera tabla*/
/*---------------------------------------------------------------------------------------------------------------------Carrousel*/
/*Comunidad-------------------------------------------------------------------------------------------------------------------*/

.comunidad {
  margin: 0;
  padding: 0;
  overflow-y: hidden !important;
}
.comunidad p {
  padding-bottom: 2em;
  padding-top: 1em;
}
.comunidad ul {
  margin-left: auto;
  margin-right: auto;
}
.comunidad ul li {
  list-style: none;
  display: inline-block;
  /* margin: 0 auto; */
}
.comunidad ul li a {
  display: block;
  position: relative;
  width: 70px;
  height: 70px;
  right: 0px;
  line-height: 70px;
  font-size: 50px;
  /* text-decoration: none; */
  color: #262626;
  transition: 0.5s;
  margin: 0 50px;
}

.comunidad ul li a .giro {
  position: absolute;
  transition: transform 0.5s;
}
.comunidad ul li a .giro:nth-child(1),
.comunidad ul li a .giro:nth-child(3) {
  width: 100%;
  height: 1px;
  background: #262626;
}
.comunidad ul li a .giro:nth-child(1) {
  top: 0;
  left: 0;
  transform-origin: right;
}
.comunidad ul li a:hover .giro:nth-child(1) {
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}
.comunidad ul li a .giro:nth-child(3) {
  bottom: 0;
  left: 0;
  transform-origin: left;
}
.comunidad ul li a:hover .giro:nth-child(3) {
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
/*-----------------------------------------------------------------------------------------------------------------Comunidad*/

/* Footer ------------------*/
footer {
  width: 100%;
  min-height: 25%;
  background-color: #242424;
  /* padding: 12rem; */
  margin-top: 2%;
  text-align: left;
}

a footer {
  text-decoration: none;
}

footer h5 {
  color: rgba(255, 255, 255, 1);
}

footer .ulSocial {
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  display: flex;
}

/* ------------------ Footer */

/* .bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
} */

/* #caberecaNoticias {
  background-image: url("https://images5.alphacoders.com/410/410498.jpg");
  min-height: 35%;
}

#caberecaNoticias header {
  background-color: blueviolet;
  height: 100%;
}

#caberecaNoticias header h2 {
  margin-top: 15px;
} */

.alineadoIzquierda {
  text-align: right;
}

/* Section Noticas -------------------------------------------------------------- */


.noticiasDiv {
  padding-top: 2%;
  padding-bottom: 2%;
}

.noticiasDiv h1 {
  text-align: center;
  margin-bottom: 2%;
}

.noticiasDiv a {
  margin-bottom: 2%;
}
/* Section Noticas */

/* Section Proyectos -------------------------------------------------------------- */


.proyectoDiv {
  padding-top: 2%;
  padding-bottom: 2%;
}

.proyectoDiv h1 {
  text-align: center;
  margin-bottom: 2%;
}

.proyectoDiv a {
  margin-bottom: 2%;
}
/* Section Proyectos */

/* ESTILOS */
h1{
  font-family: 'Poppins', sans-serif;
  color: #E36B2C;
}
h2,h3{
  font-family: 'Poppins', sans-serif;
  color: rgb(94, 255, 0);
}
p{
  font-family: 'Quicksand', sans-serif;
  color: black;
  font-style: italic;
}
p.nombres{
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-style: italic;
}