.background {
    background: 
      url("http://img.talkandroid.com/uploads/2013/03/htc-sense-5-wallpaper-3.jpg")
      repeat;
    background-size: 100% auto;
    position: fixed;
    width: 100%;
    height: 300%;
    top: 0;
    left: 0;
    z-index: -1
  }